@model SportsManager.Models.Competitor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Competitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.competitorSalutation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorSalutation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorDoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorDoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitorWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitorWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Games)
        </dt>

        <dd>
            @{
                @String.Join(", ", Model.Games.Select(p => p.gameName).ToArray())
            }
        </dd>

        @if (Model.competitorPhotoPath != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.competitorPhotoPath)
            </dt>

            <dd>
                <div class="col-xs-6 col-md-3 thumbDiv">
                    <a href="@Model.competitorPhotoPath" class="thumbnail">
                        <img src="@Model.competitorPhotoPath" alt="Competitor Photo" />
                    </a>
                </div>
                @Html.HiddenFor(model => model.competitorPhotoPath)
            </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
